* {
  box-sizing: border-box;
  margin: 0;
}

img {
  object-fit: cover;
}

body {
  font-family: "Roboto", sans-serif;
}

nav img {
  display: flex;
  margin: auto;
  width: 50%;
}

.location {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  gap: 15px;
  background-color: #eaeaea;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
  padding: 30px 20px;
}
.welcome .button {
  margin-top: 25px;
  padding: 15px 20px;
  color: #fff;
  background: #ff79da;
  background: linear-gradient(180deg, #ff79da 0%, #ba62db 100%);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.welcome .button:hover {
  cursor: pointer;
  filter: brightness(1.13);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.welcome h1 {
  font-size: 30px;
  font-weight: 700;
}

.btn .btn__radius {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 15px 15px 15px 45px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}
.btn .number {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  padding: 5px;
  background-color: #9356DC;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn .fa-mobile-screen-button, .btn .fa-list, .btn .fa-store {
  margin-right: 23px;
}
.btn .fa-mobile-screen-button:hover, .btn .fa-list:hover, .btn .fa-store:hover {
  color: #9356DC;
}

.functions {
  max-width: 1200px;
  padding: 20px;
  margin: auto;
}

.Restaurants {
  background-color: #f6f6f6;
  padding: 20px;
}
.Restaurants .restaurant {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: #FFF;
  position: relative;
}
.Restaurants .restaurant span.new {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background-color: #99E2D0;
  padding: 5px 10px;
  border-radius: 2px;
  color: #008766;
}
.Restaurants .restaurant img {
  width: 100%;
  height: 175px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.content__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 20px;
}

.restaurant a {
  text-decoration: none;
  color: black;
}

.fa-heart:hover {
  color: transparent;
  font-weight: 600;
  background: #ba62db;
  background-clip: text;
  -webkit-background-clip: text;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 22px 25px;
  gap: 13px;
  background-color: #353535;
}
footer .fa-utensils, footer .fa-handshake-angle {
  margin-right: 10px;
}
footer .title_logo {
  color: #fff;
  font-family: "Shrikhand", cursive;
}
footer img {
  height: 27px;
  color: #fff;
}
footer a {
  text-decoration: none;
}
footer p {
  color: #fff;
}

@media (min-width: 768px) {
  nav img {
    display: flex;
    margin: auto;
    width: auto;
  }
  .functions .btn {
    display: flex;
    gap: 37px;
  }
  .functions h2 {
    margin-bottom: 25px;
  }
  .Restaurants .container {
    max-width: 1200px;
    padding: 20px;
    margin: auto;
  }
  .Restaurants .content-restaurant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .Restaurants .content-restaurant .restaurant {
    width: 48%;
  }
  .Restaurants .restaurant img {
    height: 231px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
}
.content-loader {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: #F7F7F7;
  animation-name: loader;
  animation-duration: 3s;
  opacity: 0;
  visibility: hidden;
}

.loader {
  width: 140px;
  height: 140px;
  border: 10px solid #FF79DA;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  animation: rotation 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid transparent;
  border-bottom-color: #9356DC;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    z-index: 99;
    visibility: visible;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}

/*# sourceMappingURL=style.css.map */
